@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --bgSecondary: #f4f5f6;
  --bgSecondaryHover: #e9ebed;

  --instagram: #e1306c;
  --facebook: #4267b2;
  --youtube: #ff0000;
  --dribbble: #e43b81;
  --linkedin: #0076b5;
  --x: #000;
  --shopify: #96bf48;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #cbd5e1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.prose-images .prose-image {
  max-width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  section {
    @apply py-10 md:py-16 lg:py-20 xl:py-24;
  }

  .dark {
    color: var(--foreground);
    background: var(--background);
  }
}

@layer components {
  a {
    @apply font-bold transition-all hover:underline focus:underline;
    font-family: -apple-system-body, sans-serif;
  }

  h1 {
    font-family: -apple-system-headline, sans-serif;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: -apple-system-subheadline, sans-serif;
  }

  p {
    font-family: -apple-system-body, sans-serif;
  }

  input {
    @apply block w-full text-base leading-none p-2 border-solid border-slate-400 shadow-inner focus:shadow-inner;
  }

  label {
    @apply block text-xs mb-1 tracking-wider;
    font-variant-caps: all-small-caps;
  }

  .header {
    @apply container grid place-items-center gap-4;
    grid-template-columns: auto auto;
  }

  .header-title-text::after {
    content: "";
    height: 1rem;
    width: 1px;
    display: inline-block;
    background: currentColor;
    margin: 0px 4px 0px 6px;
  }

  .header-nav-link.active {
    @apply font-semibold;
  }

  .mobile-menu {
    @apply transition-all top-0 w-full left-0 z-10 -translate-x-full bg-white absolute h-screen;
    height: calc(100vh);
  }

  .mobile-menu.open {
    @apply translate-x-0;
  }

  .small-caps {
    font-variant-caps: all-small-caps;
  }

  .letter-spacing {
    letter-spacing: 0.05em;
  }

  .btn {
    @apply px-6 py-2 pt-[6px] block w-fit tracking-wider leading-none bg-bgSecondaryHover dark:bg-sky-900 dark:hover:bg-sky-800 dark:focus:bg-sky-800 font-semibold text-sm hover:bg-bgSecondaryHover focus:bg-bgSecondaryHover hover:text-current focus:text-current hover:no-underline focus:no-underline;
    font-variant-caps: all-small-caps;
  }

  .btn.primary {
    @apply bg-blue-600 font-semibold leading-none text-white;
  }

  .footer_info {
    @apply grid gap-4 text-center md:grid-cols-2 place-items-center;
  }

  .footer_social {
    @apply flex justify-center self-center items-center gap-6 place-items-center;
  }

  .footer_icon {
    font-size: 1.25rem;
    transition: all 0.2s ease-in-out;
  }

  .preview-category-title {
    font-variant: all-small-caps;
    letter-spacing: 0.08em;
  }

  .case-study-previews {
    @apply container my-16 px-0 grid;
  }

  .preview-category-header {
    @apply grid mb-8 px-4;
    grid-template-columns: 1fr auto;
  }

  .preview-category-title {
    @apply text-lg font-bold tracking-wider;
    font-variant-caps: all-small-caps;
  }

  .accent::after,
  .preview-category-title::after {
    @apply inline-block w-8 bg-current;
    content: "";
    display: inline-block;
    width: 32px;
    height: 2px;
    margin-bottom: 0.25rem;
    margin-left: 0.75rem;
    font-variant: small-caps;
    font-weight: 500;
  }

  .accent.lrg::after {
    width: 56px;
    height: 1px;
  }

  .preview-category-link {
    @apply block self-center w-fit tracking-wider;
    font-variant-caps: all-small-caps;
  }

  .case-study-preview {
    @apply grid gap-4;
  }

  .case-study-preview-image {
    @apply block w-full;
  }

  .preview-block-container,
  .case-study-preview-content {
    @apply grid gap-4 md:grid-cols-2 px-8 md:px-0;
  }

  .case-study-preview-title {
    @apply text-2xl font-bold sm:text-4xl;
  }

  .case-study-overviews {
    @apply grid gap-2 mt-6 mb-4;
  }

  .case-study-overview {
    @apply text-sm tracking-wider;
    font-variant-caps: all-small-caps;
  }

  .case-study-subtitle {
    @apply text-lg font-bold mb-1;
  }

  .case-study-teaser {
    @apply text-sm;
  }

  .page-title {
    @apply text-2xl font-medium mb-8 tracking-wider;
    font-variant-caps: all-small-caps;
  }

  .page-container {
    @apply mt-4 mb-12 container;
  }

  .post-container {
    @apply container px-0 mb-8 md:mb-8 grid gap-8 md:grid-cols-[1fr_auto];
  }

  .page-content {
    @apply mt-8 mb-16;
  }

  .case-study-content.prose {
    max-width: none;
  }

  .page-content > *:not(img):not(figure) {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
  }

  .post-content figure,
  .post-content img,
  .page-content img,
  .page-content figure {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  div.wp-caption {
    max-width: 100%;
  }

  .post-preview-date {
    @apply text-base tracking-wider;
    font-family: -apple-system-caption1, sans-serif;
    font-variant-caps: all-small-caps;
  }

  figcaption {
    @apply font-medium mt-2 text-center text-xs text-slate-500;
    font-variant-caps: all-small-caps;
  }

  .about-container {
    @apply grid gap-8 my-8 md:grid-cols-[2fr_1fr];
  }

  .post-preview-excerpt > p {
    font-size: 0.875rem;
  }

  .section-title {
    @apply font-semibold mb-4 leading-none;
  }

  .affiliate_disclaimer {
    @apply text-xs text-gray-500 mx-4 my-1 tracking-wder;
    font-variant-caps: all-small-caps;
  }

  .small-caps {
    font-variant-caps: all-small-caps;
    letter-spacing: 0.05em;
  }

  .container.sml {
    max-width: 50rem;
  }
}
